html, body {
    height: 100%;
    margin: 0;
    background-color: #EAE7DC;
}

.menu{
    z-index: 1;
    position: absolute;
    width: 100%;
}

.menu-item{
    margin: 1.25vw;
}

.menu-items-wrapper{
    display: flex;
    justify-content: flex-end;
}

a:link{
    color: #EAE7DC;
    text-decoration: none;
    width: 20px;
}

a:visited {
    color: #EAE7DC;
    text-decoration: none;
}

a:hover{
    color: #5C2018;
    text-decoration: none;
    cursor: pointer;
}

.social-icons{
    margin-top: 1vw;
}



.about-content-wrapper {
    display:flex;
    height: 100vh;
}

.main-content-wrapper {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: #BC4639;
}

.image-wrapper{
    height: 50vh;
    width: 50vh;
    background-color:#5C2018;
    background-image: url("./images/christie.jpg");
    background-size: 100%;
}

.name-wrapper{
 max-width: 70%;
}

.outer-content-wrapper{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;

}

.section-header{
    margin: 1vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
}


.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    width: 30%;
    background-color: #D4A59A;
    opacity: 1.0;
    margin: 1vw;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    opacity: 0.4;
}

.portfolio-item:hover {
    opacity: 0.8;
}

.portfolio-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.fas{
    color: #EAE7DC;
}

.fab{
    color: #5C2018;
}

.fa-envelope-square{
    color: #5C2018;
}

.project-name{
    font-family: 'Markazi Text', serif;
}

  .info-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .entry-fields-wrapper{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vw;
  }

  .entry-fields{
      background-color: #EAE7DC;
      margin-bottom: 10vh;
      margin: 1vw;
  }
  .field{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #5C2018;
      margin-bottom: 1vw;
      width: 100%;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }


  .field-name{
      margin-top: 1vw;
      margin-bottom: 0.5vw;
      margin-right: 3vw;
      width: 25%;
  }

  .form-width{
      width: 100rem;
  }

  .code-link{
      display: flex;

  }

  .icon{
      margin: 0.75vw;
  }

  .submit-button{
      color: white;
      background-color: #5C2018;
      border: none;
      font-size: 12px;
      padding: 0.75vw;
      margin-top: 1.5vw;
  }


  /* Fonts */

  .cabin-font {
    font-family: 'Cabin', sans-serif;
  }

  .markazi-font{
    font-family: 'Markazi Text', serif;
  }

  h1 {
      font-size: 60px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
      font-size: 24px;
  }

  h5 {
      font-size: 16px;
  }

  h6 {
      font-size: 12px;
      font-style: italic;
  }

  .center {
      text-align: center;
  }

 


  /* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */


@media screen and (max-width: 980px) {

} 

@media screen and (max-width: 768px) {


}
    

@media screen and (max-width: 640px) {


    .about-content-wrapper{
        height: 50vh;
    }

    .left{
        display: none;
    }
    .right{
        width: 100%;
        /* height: 50vh; */
    }

    .image-wrapper{
        display:none;

    }

    .portfolio-item{
        width: 45%;
    }

    .info-wrapper{
        padding: 1px;
    }

    .entry-fields-wrapper{
        max-width: 80vw;

    }


}
